       		<header class="header">
            	<div class="container" >
            		<div class='breadcrumb'>
					  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
					  <a href="index.php?ctrl=client&act=show_all" class="">Clientes</a> <span class="divider">/</span>
					</div>
	                <h1>Cliente</h1>
            	</div>
            </header>
            <section>				
                <div id="container" >
                		<hr>
							<div class="input">
								<label for="name">Razón Social</label>
								{nombre}
							</div>
							<div class="input">
								<label for="RFC">RFC</label>
								{RFC}
							<div class="input">
								<label for="email">Email</label>
								{email}
							</div>
							<div class="input">
								<label for="phones">Teléfono</label>
								{telefono}
							</div>
							<div class="input">
								<label for="phones">Celular</label>
								{celular}
							</div>
            </section>