       		<header class="header">
            	<div class="container" >
	                <h1>Cliente</h1>
	                <span id="menssage"></span>
            	</div>
            </header>
            <section>				
                <div id="container" >
                		<hr>
							<div class="input">
								<label for="name">Nombre*</label>
								{nombre}
							</div>
							<div class="input">
								<label for="last_name">Apellido</label>
								{apellido}
							</div>
							<div class="input">
								<label for="RFC">RFC*</label>
								{RFC}
							<div class="input">
								<label for="email">Correo*</label>
								{email}
							</div>
							<div class="input">
								<label for="phones">Telefono</label>
								{telefono}
							</div>
            </section>