        <style type="text/css">
    	</style>

            <header class="header">
              <div class="container">
                <h1>Nuevo Empleado</span></h1>
                <span id="message"></span>
              </div>
            </header>
            <section>				
                <div id="container" >
                    <div id="wrapper">
                    	<!--Conenerdor-->
					    <form method="post" action="index.php?ctrl=employee&act=create">
					    	<hr>
							<div class="input">
								<label for="name">Nombre*</label>
								<input type="text" id="name" name="name" placeholder="Crisosforo" pattern="[A-Za-z\s]*"required/>
							</div>
							<div class="input">
								<label for="last_name">Apellido</label>
								<input type="text" id="last_name" name="last_name" placeholder="Perez Gonzalez"pattern="[A-Za-z\s]*"/>
							</div>
							<div class="input">
								<label for="RFC">RFC*</label>
								<input type="text" id="RFC" name="RFC" placeholder="MAFE926734CGJ"required/>
							</div>
							<div class="input">
								<label for="email">Correo*</label>
								<input type="email" id="email" name="email" placeholder="mysupermail@gmail.com" required/>
							</div>
							<div class="input">
								<label for="phones">Telefono</label>
								<input type="tel" id="phones" name="phones" placeholder="3"  pattern="[0-9]{1}"/>
							</div>
							<hr>
							<div class="input">
								<label for="street">Calle</label>
								<input type="text" id="street" name="street" placeholder="Venasuza"/>
							</div>
							<div class="input">
								<label for="no_external">Numero Exterior</label>
								<input type="text" id="no_external" name="no_external" placeholder="123"/>
							</div>
							<div class="input">
								<label for="no_internal">Numero Interior</label>
								<input type="text" id="no_internal" name="no_internal" placeholder="123"/>
							</div>
							<div class="input">
								<label for="colony">Colonia</label>
								<input type="text" id="colony" name="colony" placeholder=""/>
							</div>
							<div class="input">
								<label for="municipality">Municipio</label>
								<input type="text" id="municipality" name="municipality" placeholder=""/>
							</div>
							<div class="input">
								<button id="crear"class="btn btn-primary" type="submit">Crear</button>		
								<button class="btn btn-primary" type="button">Cancelar</button>
							</div>
							<br/>
						</form>
					</div>
				</div>
            </section>