       		<header class="header">
            	<div class="container" >
	                <h1>Empleado</h1>
	                <span id="menssage"></span>
            	</div>
            </header>
            <section>				
                <div id="container" >
                		<hr>
							<div class="input">
								<label for="name">Nombre*</label>
								{nombre}
							</div>
							<div class="input">
								<label for="last_name">Apellido</label>
								{apellido}
							</div>
							<div class="input">
								<label for="RFC">RFC*</label>
								{RFC}
							<div class="input">
								<label for="email">Correo*</label>
								{email}
							</div>
							<div class="input">
								<label for="phones">Telefono</label>
								{telefono}
							</div>
							<div class="input">
								<label for="street">Calle</label>
								{calle}
							</div>
							<div class="input">
								<label for="no_external">Numero Exterior</label>
								{no. exterior}
							</div>
							<div class="input">
								<label for="no_internal">Numero Interior</label>
								{no. interior}
							</div>
							<div class="input">
								<label for="colony">Colonia</label>
								{colonia}
							</div>
							<div class="input">
								<label for="municipality">Municipio</label>
								{municipio}
							</div>
            </section>