       		<header class="header">
            	<div class="container" >
            		<div class='breadcrumb'>
					  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
					  <a href="index.php?ctrl=employee" class="">Empleados</a> <span class="divider">/</span>
					</div>
	                <h1>Empleado</h1>
            	</div>
            </header>
            <section>				
                <div id="container" >
                		<hr>
							<div class="input">
								<label for="name">Nombre</label>
								{nombre}
							</div>
							<div class="input">
								<label for="last_name">Apellido</label>
								{apellido}
							</div>
							<div class="input">
								<label for="RFC">RFC</label>
								{RFC}
							<div class="input">
								<label for="email">Email</label>
								{email}
							</div>
							<div class="input">
								<label for="phones">Telefono</label>
								{telefono}
							</div>
							<div class="input">
								<label for="cellphone">Celular</label>
								{celular}
							</div>
							<div class="input">
								<label for="address">Direccion</label>
								{direccion}
							</div>
							<div class="input">
								<label for="colony">Colonia</label>
								{colonia}
							</div>
							<div class="input">
								<label for="state">Estado</label>
								{estado}
							</div>
							<div class="input">
								<label for="city">Municipio</label>
								{municipio}
							</div>
            </section>