<form method="post" action="?ctrl=Vehiculo&Act={Act}">

		<div class="input">
			<label for="idvehiculo">ID</label>
			<input type="text" id="idvehiculo" name="idvehiculo" onKeyUp="Mayusculas(this)" readonly="" />
		</div>
		<div class="input">
			<label for="vin">VIN</label>
			<input type="text" id="vin" name="vin" onKeyUp="Mayusculas(this)"  required/ />
		</div>
		<div  class="input">
			<label for="marca">Marca</label>
			<input type="text" name="marca" id='marca' required/ >
		</div>
		<div class="input">
		<label for="modelo">Modelo</label>
         <input type="text" name="modelo" id="modelo" >

		<div class="input">
			<label for="des">Descripcion</label>
			<input type="text" name="des" id="des" />
		</div>

		<div class="input">
			<label for="color">Color Favorito</label>
			<input type="color" name="color" id="color" />
		</div>
		<div class='button'>
			<button name='guardar' id='guardar'>Guardar</button>
		</div>
		</div>
</form>
		