<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form method="POST" action="?Ctrl=Vehiculo" >
	<div id='choiceCtl'>
	<div class="select_Act">
		<label for="Act">Que deseas hacer</label>
			<select name="Act">
				<option selected value="0"> Elige una opcion </option>
		    	<option value="Alta">Alta</option>
		    	<option value="Modificacion">Modificacion</option>
		    	<option value="Consulta">Consulta</option>
		    	<option value="Baja">Baja </option>
			    	
			</select>
	</div>
	<div>
		<button name='ButonAct'>Aceptar</button>
	</div>
</div>
</form>

</body>
</html>