            <footer class="footer">
              <div class="container">
                <p class="text-muted">© 2014 TODOS LOS DERECHOS RESERVADOS</p>
              </div>
            </footer>
    </body>
    <!-- Librería jQuery requerida por los plugins de JavaScript -->
    <script src="http://code.jquery.com/jquery.js"></script>
 
    <!-- Todos los plugins JavaScript de Bootstrap (también puedes
         incluir archivos JavaScript individuales de los únicos
         plugins que utilices) -->
    <script src="assets/dist/js/bootstrap.min.js"></script>
</html>
