 <style type="text/css">
.row-item{
    margin-bottom: 5px; 
    border-radius: 27px 27px 27px 27px;
	-moz-border-radius: 27px 27px 27px 27px;
	-webkit-border-radius: 27px 27px 27px 27px;
	border: 1px solid #CCC;
	max-width: 230px;
}

section > #container{
  padding-left: 27%;
}

h3{
	text-align: center;
} 

.row-item > a > img{
	width: 200px;
	height: 150px;
}

.row{
	margin-right: 0px;
	margin-left: 0px;
}

 </style>
			<header class="header">
            	<div class="container" >
            	</div>
            </header>
            <section>				
                <div id="container" >
                    	<!--Conenerdor-->
                	<div class="row">
			            <div class="col-md-3 row-item">
			                <a href="index.php?ctrl=vehicle">
			                    <img class="img-responsive" src="assets/images/vehicle.png" alt="">
			                    <h3>
			                    Vehiculos
			                	</h3>
			                </a>
			                <p></p>
			            </div>
			            <div class="col-md-3 row-item">
			                <a href="index.php?ctrl=inspeccion">
			                    <img class="img-responsive" src="assets/images/inspeccion.png" alt="">
			                    <h3>
			                    Inspeccion
			                	</h3>
			                </a>
			                <p></p>
			            </div>
			            <div class="col-md-3 row-item">
			                <a href="index.php?ctrl=piece">
			                    <img class="img-responsive" src="assets/images/piece.png" alt="">
			                    <h3>
			                    Piezas
			                	</h3>
			                </a>
			                <p></p>
			            </div>
			        </div>
			        <div class="row">
			        	<div class="col-md-3 row-item">
			                <a href="index.php?ctrl=Inventory">
			                    <img class="img-responsive" src="assets/images/inventory.png" alt="">
			                    <h3>
			                    Inventario
			                	</h3>
			                </a>
			                <p></p>
			            </div>
			            <div class="col-md-3 row-item">
			                <a href="index.php?ctrl=client">
			                    <img class="img-responsive" src="assets/images/client.png" alt="">
			                    <h3>
			                    Clientes
			                	</h3>
			                </a>
			                <p></p>
			            </div>
			        </div>
				</div>
            </section>
