<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Proyecto WEB</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Proyecto WEB" />
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/pagina.css" />
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/style.css" />
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/animate-custom.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Taller <span id="estado">Automotriz</span></h1>
                <span id="menssageGeneral"></span>
            </header>
            <section>				
                <div id="container" >
                    <div id="wrapper">
                        <div id="login" class="animate form">
                            <form  action="index.php?ctrl=login&act=login" autocomplete="on" method= "POST"> 
                                <h1>Log In</h1> 
                                <span id="menssage"></span>
                                <p> 
                                    <label for="username" class="uname" data-icon="u" > Usuario </label>
                                    <input id="username" name="username" required="required" type="text" placeholder="miUsuario"/>
                                </p>
                                <p> 
                                    <label for="password" class="youpasswd" data-icon="p"> Contraseña </label>
                                    <input id="password" name="password" required="required" type="password" placeholder="ejem.X8df!90EO" /> 
                                </p>
                                <p class="keeplogin"> 
                                    <a href="?ctrl=login&act=recoverPass" for="loginkeeping">Recuperar contraseña</a>
								</p>
                                <p class="login button">
                                    <input type="submit" value="Entrar" />
								</p>
                            </form>
                        </div>	
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>