<header class="header">
              <div class="container">
              	<div class='breadcrumb'>
					  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
					  <a href="index.php?ctrl=Inventory" class="">Inventario</a> <span class="divider">/</span>
				</div>
                <h1>Inventario</span></h1>
                <div id="message"></div>
              </div>
            </header>
<form method="post" action="?ctrl=Inventory&Act={Act}&id={id}">
<section>				
<div class="container" >
<div id="wrapper">
<div class="table-responsive">
<div class="datagrid">
	<button id='mover' name="mover" class="btn btn-primary">Mover</button>
	<table class='table table-hover'>
		<thead>
		<tr>
			<th colspan="5">
				<span>{error}</span>
			</th>
		</tr>
		<tr>
		<th>Inventario </th>
	    <!--<th>movimiento</th>-->
		<th>Fecha</th>
		<th>Origen</th>
		<th>Ubicación Actual</th>
		<th>Observación</th>
		<th>Estatus</th>
		<th>Vehículo</th>
		</tr>
		</thead>
		<tbody>
		
			{ListInventory}
		
		</tbody>
		<tfoot>
			<tr>
			<th>
				Mover A
			</th>
			<th colspan="2">
				<select id='servicio' name="servicio">
					<option selected value='0'>Selecciona un servicio</option>
					{servicios}
					<option value="Salida">Salida</option>
					<option value="Cancelar">Cancelar</option>
				</select>
			</th>
			<td colspan="2">
				<div class="input">
				<label>Observaciones</label>
					<input type="text" name='observaciones' />
				</div>
			</td>
			</tr>
		</tfoot>
		</table>		
</div>
</div>
</div>
</div>  
</section>
</form>

