<form method="post" action="?ctrl=Inventory">
<!--<div class="buuton">
<button id='mover' name="mover">Mover</button>
</div>-->

<section>				
<div id="container" >
<div id="wrapper">
<div class="table-responsive">
<div class="datagrid">
	<table class='table table-hover'>
		<thead>
		<tr>
		<th>Inventario </th>
		<th>movimiento</th>
		<th>fecha</th>
		<th>origen</th>
		<th>Ubicacion Actual</th>
		<th>observacion</th>
		<th>estatus</th>
		<th>Vehiculo</th>
		</tr>
		</thead>
		<tbody>
		
			{ListInventory}
		
		</tbody>

		</table>		
</div>
</div>
</div>
</div>  
</section>
</form>

