<header class="header">
              <div class="container">
              	<div class='breadcrumb'>
					  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
					  <a href="index.php?ctrl=inspeccion" class="">Inspecciónes</a> <span class="divider">/</span>
				</div>
                <h1>Inspecciónes</span></h1>
                <div id="message"></div>
              </div>
            </header>
<form method="post" action="?ctrl=inspeccion">
<div class="buuton">
<button id='nuevo' name="Act"  value='Alta'>Nuevo</button>
</div>

<section>				
<div id="container" >
<div id="wrapper">
<div class="table-responsive">
<div class="datagrid">
	<table class='table table-hover'>
		<thead>
		<tr>
		<th>Fecha</th>
		<th>Estatus</th>
		<th>Vehículo</th>


		</tr>
		</thead>
		<tbody>
		
			{ListaInspeccion}
		
		</tbody>

		</table>		
</div>
</div>
</div>
</div>  
</section>
</form>

