<header class="header">
              <div class="container">
              	<div class='breadcrumb'>
					  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
					  <a href="index.php?ctrl=inspeccion" class="">Inspección</a> <span class="divider">/</span>
				</div>
                <h1></h1>
                <div id="message"></div>
              </div>
            </header>
<form method="post" action="?ctrl=inspeccion&Act=Edit&idV={id}">

<section>				
<div class="container" >
<div id="wrapper">
<div class="table-responsive">
<div class="datagrid">
	<table class='table table-hover'>
		<thead>
		<tr><th colspan="5">{error}</th></tr>
		<tr>
		<th>Inspección</th>
		<th>Fecha</th>
		<th>Usuario </th>
		<th>Vehículo</th>
		<th>Estatus</th>
		<!--
		<th><button id='modificar' name='modificar' >Modificar</button></th>
		-->
		</tr>
		{VerInspeccion}
		</thead>
		<tbody>
			<tr>
				<th>Área</th>
				<th>
					<select id='area'  name='area'>
						<option selected value='1'>Seleccione un área</option>";
						{area}
					</select>
				</th>
			</tr>
			<tr>
				<th>Pieza</th>
				<th>Severidad</th>
				<th>Servicio</th>
				<th>Observaciónes</th>
			</tr>
			{VerInspeccionDetalle}
		
		</tbody>

		<tfoot>
			<tr>
				<th><button name='procesar' id='procesar' class="btn btn-primary">Procesar</button></th>
			</tr>
		</tfoot>

		</table>		
</div>
</div>
</div>
</div>  
</section>
</form>