<header class="header">
              <div class="container">
              	<div class='breadcrumb'>
					  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
					  <a href="index.php?ctrl=inspeccion" class="">Inspecciónes</a> <span class="divider">/</span>
				</div>
                <h1></h1>
                <div id="message"></div>
              </div>
            </header>
<form method="post" action="?ctrl=inspeccion">

<section>				
<div class="container" >
<div id="wrapper">
<div class="table-responsive">
<div class="datagrid">
	<table class='table table-hover'>
		<thead>
		<tr>
		<th>Inspección</th>
		<th>Fecha</th>
		<th>Usuario </th>
		<th>Vehículo</th>
		<th>Estatus</th>
		</tr>
		{VerInspeccion}
		</thead>
		<tbody>
			<tr>
				<th>Pieza</th>
				<th>Severidad</th>
				<th>Servicio</th>
				<th>Observaciónes</th>
			</tr>
			{VerInspeccionDetalle}
		
		</tbody>

		</table>		
</div>
</div>
</div>
</div>  
</section>
</form>