<form method="post" action="?ctrl=inspeccion">

<section>				
<div id="container" >
<div id="wrapper">
<div class="table-responsive">
<div class="datagrid">
	<table class='table table-hover'>
		<thead>
		<tr>
		<th>Inspeccion</th>
		<th>Fecha</th>
		<th>Usuario </th>
		<th>Vehiculo</th>
		<th>Estatus</th>
		</tr>
		{VerInspeccion}
		</thead>
		<tbody>
			<tr>
				<th>Pieza</th>
				<th>Severidad</th>
				<th>Servicio</th>
				<th>Observaciones</th>
			</tr>
			{VerInspeccionDetalle}
		
		</tbody>

		</table>		
</div>
</div>
</div>
</div>  
</section>
</form>