        <style type="text/css">
    	</style>

            <header class="header">
              <div class="container">
              	<div class='breadcrumb'>
					  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
					  <a href="index.php?ctrl=user&act=show_all" class="">Usuarios</a> <span class="divider">/</span>
				</div>
                <h1>Nuevo Usuario</span></h1>

                <div id="message"></div>
              </div>
            </header>
            <section>				
                <div id="container" >
                    <div id="wrapper">
                    	<!--Conenerdor-->
					    <form method="post" id="form" action="index.php?ctrl=user&act=create">
					    	<hr>
							<div class="input">
								<label for="name">Nombre*</label>
								<input type="text" id="name" name="name" placeholder="usuario" pattern="[A-Za-záéóúíñ0-9\s]*"title="Letras y numeros" required/>
							</div>
							<div class="input">
								<label for="password">Contraseña*</label>
								<input type="password" id="password" name="password" placeholder="ejem. X8df!90EO" pattern="[^\s]{8,}"  title="8 caracteres minimos y sin espacios" required/>
							</div>
							<div class="input">
								<label for="password_confirm">Confirmar Contraseña*</label>
								<input type="password" id="password_confirm" name="password_confirm" placeholder="ejem. X8df!90EO" pattern="[^\s]{8,}" title="8 caracteres minimos y sin espacios" required/>
							</div>
							<div class="input">
								<label for="email">Email*</label>
								<input type="email" id="email" name="email" placeholder="mysupermail@gmail.com" required/>
							</div>
							<div class="input">
								<label for="rol">Rol*</label>
								<select name="rol" id="rol" required>
								    <option value="" selected>Selecciona una opcion</option>
								    <option value="admin">Administrador</option>
									<option value="client">Cliente</option>
									<option value="employee">Empleado</option>
								</select> 
							</div>
							<div class="input">
								<label for="join">Ligar</label>
								<select name="join" id="join">
								    <option value="" selected>Selecciona una opcion</option>
								</select> 
							</div>
							<hr>
							<div class="input">
								<button id="submit"class="btn btn-primary" type="submit">Crear</button>		
								<a href="index.php?ctrl=user&act=show_all" class="btn btn-primary">Cancelar</a>
							</div>
							<br/>
						</form>
					</div>
				</div>
            </section>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="assets/js/user.js"></script>