       		<header class="header">
            	<div class="container" >
            		<div class='breadcrumb'>
					  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
					  <a href="index.php?ctrl=user&act=show_all" class="">Usuarios</a> <span class="divider">/</span>
					</div>
	                <h1>Usuario</h1>
            	</div>
            </header>
            <section>				
                <div id="container" >
                		<hr>
							<div class="input">
								<label for="name">Nombre</label>
								{nombre}
							</div>
							<div class="input">
								<label for="last_name">Password</label>
								{password}
							</div>
							<div class="input">
								<label for="email">Email</label>
								{email}
							</div>
							<div class="input">
								<label for="phones">Rol</label>
								{rol}
							</div>
            </section>