        <style type="text/css">
    	</style>

            <header class="header">
              <div class="container">
                <h1>Nuevo Servicio</span></h1>
                <span id="message"></span>
              </div>
            </header>
            <section>				
                <div id="container" >
                    <div id="wrapper">
                    	<!--Conenerdor-->
					    <form method="post" action="index.php?ctrl=service&act=create">
					    	<hr>
							<div class="input">
								<label for="name">Nombre*</label>
								<input type="text" id="name" name="name" placeholder="Laminado" pattern="[A-Za-záéóúíñ\s]*"required/>
							</div>
							<div class="input">
								<label for="location">Ubicacion*</label>
								<select name="location" id="locations" required>
								    <option value=''>Selecciona un opcion</option>
								</select> 
							</div>
							<hr>
							<div class="input">
								<button id="crear"class="btn btn-primary" type="submit">Crear</button>		
								<a href="index.php?ctrl=service" class="btn btn-primary">Cancelar</a>
							</div>
							<br/>
						</form>
					</div>
				</div>
            </section>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script type="text/javascript">
	$.ajax({
		url:'index.php?ctrl=location&act=get_all',
		dataType: 'json',
		success: function(json){
			var select = document.getElementById("locations");
			for(i in json){
				var texto = document.createTextNode(json[i].name);
				var option = document.createElement('option');
				option.setAttribute('value',json[i].id);
				option.appendChild(texto);
				select.appendChild(option);
			}
			console.log(json);
		}
	});
</script>