       		<header class="header">
            	<div class="container" >
            		<div class='breadcrumb'>
					  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
					  <a href="index.php?ctrl=service&act=show_all" class="">Servicios</a> <span class="divider">/</span>
					</div>
	                <h1>Servicio</h1>
            	</div>
            </header>
            <section>				
                <div id="container" >
                		<hr>
							<div class="input">
								<label for="name">Nombre</label>
								{nombre}
							</div>
							<div class="input">
								<label for="location">Ubicación</label>
								{ubicacion}
							</div>
            </section>