       		<header class="header">
            	<div class="container" >
	                <h1>Servicio</h1>
	                <span id="menssage"></span>
            	</div>
            </header>
            <section>				
                <div id="container" >
                		<hr>
							<div class="input">
								<label for="name">Nombre*</label>
								{nombre}
							</div>
							<div class="input">
								<label for="location">Ubicacion*</label>
								{ubicacion}
							</div>
            </section>