      		<header class="header">
            	<div class="container" >
            		<div class='breadcrumb'>
					  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
					  <a href="index.php?ctrl=vehicle&act=show_all" class="">Vehiculos</a> <span class="divider">/</span>
					</div>
	                <h1>Vehiculo</h1>
            	</div>
            </header>
            <section>				
                <div id="container" >
                		<hr>
							<div class="input">
								<label for="client">Cliente</label>
								{cliente}
							</div>
							<div class="input">
								<label for="VIN">VIN</label>
								{VIN}
							</div>
							<div class="input">
								<label for="brand">Marca</label>
								{marca}
							</div>
							<div class="input">
								<label for="model">Modelo</label>
								{modelo}
							</div>
							<div class="input">
								<label for="color">Color </label>
								<input type="color" name="color" id="color" value='{color}' readonly="readonly"/>
							</div>
							<div class="input">
								<label for="descritions">Descripcion</label>
								{descripcion}
							</div>
            </section>