<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<form method="get" >
	<div id='choiceCtl'>
	<div class="select_Ctrl">
		<label for="Ctrl">Que deseas hacer</label>
			<select name="Ctrl">
				<option selected value="0"> Elige una opcion </option>
		    	<option value="Vehiculo">Vehiculos</option>
		    	<option value="Inv">Inventarios</option>
		    	<option value="Ubicacion">Ubicacion</option>
			    	
			</select>
	</div>
	<div>
		<button name='ActCtrl'>Aceptar</button>
	</div>
</div>
</form>

</body>
</html>