<form method="post" action="?ctrl=Vehiculo&Act={Act}">

		<div class="input">
			<label for="idvehiculo">ID</label>
			<input type="text" id="idvehiculo" name="idvehiculo" value="{id}" onKeyUp="Mayusculas(this)" readonly="" />
		</div>
		<div class="input">
			<label for="cliente">Cliente</label>
			<input type="text" id="cliente" name="cliente" value="{cliente}" onKeyUp="Mayusculas(this)" readonly="" />
		</div>
		<div class="input">
			<label for="vin">VIN</label>
			<input type="text" id="vin" name="vin" onKeyUp="Mayusculas(this)"  value="{vin}" readonly=""/>
		</div>
		
		<div class="input" >
			<label for='modelo'>Modelo</label>
			<select id='modelo'  name="modelo">
					<option selected value='0'>{model}</option>
				{modelos}
			</select>
		</div>
		<div class="input">
			<label for="des">Descripcion</label>
			<input type="text" name="des" id="des" value="{des}" readonly=""/>
		</div>

		<div class="input">
			<label for="color">Color Favorito</label>
			<input type="color" name="color" id="color" value="{color}" readonly="" />
		</div>
		<div class="input">
			<label for="estatus">Estatus</label>
			<input type="text" id="estatus" name="estatus" value="{estatus}" onKeyUp="Mayusculas(this)" readonly="" />
		</div>
		</div>
</form>
		