/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: url(../images/bg.jpg) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
	overflow-y: scroll;
    padding-top: 60px;
  	/* Margin bottom by footer height */
  	margin-bottom: 40px;
}


/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #BBD7E5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.navbar {
background-color: #A9ABCA;
}

.header > .container{
  width: auto;
  max-width: 700px;
  padding: 0 15px;
}

.section > .container{
  width: auto;
  max-width: 700px;
  padding: 0 15px;
}


.icon-view:before{ 
 	content: url("http://www.veryicon.com/icon/png/Application/asp.net/view.png");
	font-family: FontAwesome;
	
}

.icon-edit:before{ 
 	content: url("http://upload.wikimedia.org/wikipedia/commons/a/a7/GeoGebra_icon_edit.png");
	font-family: FontAwesome;
}
.icon-remove:before{
	font-family: FontAwesome;
		content: url("https://cdn2.iconfinder.com/data/icons/diagona/icon/16/101.png");
}


div.input > label{
			width: 35%;
			text-align: right;
			margin-right: 20px;
		}

		div.input {
			margin: 10px 0;

		}
		div.input > #crear{
			margin-left: 35%;
		}

		hr {
			margin-left: 35%;
			width: 45%;
			margin: 20px 0;
			margin-left: 85%;
			border: 0;
			border-top: 1px solid #eeeeee;
			border-bottom: 7px solid #ffffff;
		}
		hr{
			display: block;
			-webkit-margin-before: 0.5em;
			-webkit-margin-after: 0.5em;
			-webkit-margin-start: auto;
			-webkit-margin-end: auto;
			border-style: inset;
			border-width: 1px;
		}