/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background: url(../images/bg.jpg) repeat top left;
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
	overflow-y: scroll;
    padding-top: 60px;
  	/* Margin bottom by footer height */
  	margin-bottom: 40px;
}


/* Sticky footer styles
-------------------------------------------------- */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #BBD7E5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.navbar {
background-color: #A9ABCA;
}

.header > .container{
  width: auto;
  max-width: 700px;
  padding: 0 15px;
}

.section > .container{
  width: auto;
  max-width: 700px;
  padding: 0 15px;
}


.icon-view:before{ 
 	content: url("../images/view.png");
	font-family: FontAwesome;
	
}

.icon-edit:before{ 
 	content: url("../images/edit.png");
	font-family: FontAwesome;
}
.icon-remove:before{
	font-family: FontAwesome;
		content: url("../images/delete.png");
}

div.changePass > a{
	margin-left: 35%;
}

div.input > label{
			width: 35%;
			text-align: right;
			margin-right: 20px;
		}

		div.input {
			margin: 10px 0;

		}
		div.input > #crear, div.input > #submit{
			margin-left: 35%;
		}

		hr {
			max-width: 40%;
			border: 1px solid #D0C8C8;
			box-shadow: 0px 1px 5px rgb(194, 194, 194)
		}


/**surfbar*/
.breadcrumb{
	max-width: auto;
	max-height: 35px;
	padding:8px 15px;
	margin:0 0 20px;
	list-style:none;
	background-color:#F7F7F7;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;border-radius:4px;
}
.breadcrumb>a{
	display:inline-block;
	*display:inline;
	*zoom:1;
	text-shadow:0 1px 0 #C7CCF0;
}
.divider{
	padding:0 5px;
	color: #9E8C8C;
}
.breadcrumb>.active{
	color:#999999;
}