       		<header class="header">
            	<div class="container" >
                    <div class='breadcrumb'>
                      <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
                      <a href="index.php?ctrl=piece" class="">Piezas</a> <span class="divider">/</span>
                    </div>
	                <h1>Pieza</h1>
            	</div>
            </header>
            <section>				
                <div id="container" >
                		<hr>
							<div class="input">
								<label for="name">Nombre*</label>
								{nombre}
							</div>
            </section>