            <header class="header">
            	<div class="container" >
	                <h1>Editar Pieza</h1>
	                <span id="menssage"></span>
            	</div>
            </header>
            <section>				
                <div class="container" >
                    <div id="wrapper">
                    	<!--Conenerdor-->
					    <form method="post" action="index.php?ctrl=piece&act=edit&id={id}">
					    	<hr>
							<div class="input">
								<label for="name">Nombre*</label>
								<input type="text" id="name" name="name" value="{nombre}" pattern="[A-Za-záéóúíñ\s]*"required/>
							</div>
						<div class="input">
								<button id="crear"class="btn btn-primary" type="submit">Actualizar</button>		
								<a href="index.php?ctrl=piece" class="btn btn-primary">Cancelar</a>
						</div>
						</br>
					</form>
            </section>