<header class="header">
  <div class="container">
  	<div class='breadcrumb'>
		  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
		  <a href="index.php?ctrl=Reporte" class="">Reportes</a> <span class="divider">/</span>
	</div>
    <h1>Reportes</span></h1>
    <div id="message"></div>
  </div>
</header>
<form method="post" action="?ctrl=inspeccion">
<!--
<div class="buuton">
<button id='nuevo' name="Act"  value='Alta'>Nuevo</button>
</div>
-->
<section class="section">				
<div class="container" >
<div id="wrapper">
<div class="table-responsive">
<div class="datagrid">
	<table class='table table-hover'>
		<thead>
		<tr>
		<th>Nombre</th>
		<th colspan="2">Descripción</th>
		<th>Acción</th>

		</tr>
		</thead>
		<tbody>
		
			{ListaReportes}
		
		</tbody>

		</table>		
</div>
</div>
</div>
</div>  
</section>
</form>

