<form method="post" action="?ctrl=inspeccion">
<!--
<div class="buuton">
<button id='nuevo' name="Act"  value='Alta'>Nuevo</button>
</div>
-->
<section><h1><span>Reportes</span></h1></section>
<section>				
<div id="container" >
<div id="wrapper">
<div class="table-responsive">
<div class="datagrid">
	<table class='table table-hover'>
		<thead>
		<tr>
		<th>Nombre</th>
		<th colspan="2">Descripcion</th>
		<th>Acción</th>

		</tr>
		</thead>
		<tbody>
		
			{ListaReportes}
		
		</tbody>

		</table>		
</div>
</div>
</div>
</div>  
</section>
</form>

