<header class="header">
  <div class="container">
  	<div class='breadcrumb'>
		  <a href="index.php" class="">Tablero</a> <span class="divider">/</span>
		  <a href="index.php?ctrl=Reporte" class="">Reportes</a> <span class="divider">/</span>
	</div>
    <h1>Reporte Totales</span></h1>
    <div id="message"></div>
  </div>
</header>
<form method="post" action="?ctrl=Reporte&Act=Ver&id=3">
<!--
<div class="buuton">
<button id='nuevo' name="Act"  value='Alta'>Nuevo</button>
</div>
-->
<section class="section">				
<div class="container" >
<div id="wrapper">
<div class="table-responsive">
<div class="datagrid">
	<table class='table table-hover'>
		<thead>
		<tr>
			<th><label for='estado'>Estado</label>
			<select name='estado'>
			<option value="slope">PENDIENTE</option>
			<option value="completed">CONCLUIDO</option>
			<option value="cancel">CANCELADO</option>
			<option value="exit">SALIDAS</option>
			</select>
			</th>
			<tr>
				<th>
					<button name="buscar" class="btn btn-primary">Buscar</button>
				</th>
			</tr>
		</tr>
		<tr>
		<th>VIN</th>
		<th>Ubicación</th>
		<th>Fecha</th>
		<th>Estado</th>

		</tr>
		</thead>
		<tbody>
		
			{ListaReportes}
		
		</tbody>
		<tfoot>
			<tr>
				<td>
					Vehículos En total
				</td>
				<td>
					{cont}
				</td>
			</tr>


		</tfoot>
		</table>		
</div>
</div>
</div>
</div>  
</section>
</form>

